:root {
    color-scheme: light;
    font-family: ui-sans-serif;
    --link-color: var(--color-blue);
    --link-visited-color: var(--color-indigo);
    --blockquote-color: #4D4D4D; /* 77 */
}

@media(prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --blockquote-color: #B2B2B2; /* 255 - 77 = 178 */
    }
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Don't underline on touch-screen devices (otherwise, the underline never goes away). */
@media (hover: none) {
    a:hover {
        text-decoration: none;
    }
}

pre > code {
    font-family: ui-monospace;
}

/*
Apple Colors
https://gist.github.com/lithammer/e9e68c131297c3158a654c0fdfc4111a
https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/#system-colors
*/
:root {
    /* Light mode */
    --color-light-gray-1: rgb(142, 142, 147);
    --color-light-gray-2: rgb(174, 174, 178);
    --color-light-gray-3: rgb(199, 199, 204);
    --color-light-gray-4: rgb(209, 209, 214);
    --color-light-gray-5: rgb(229, 229, 234);
    --color-light-gray-6: rgb(242, 242, 247);
    --color-light-blue: rgb(0, 122, 255);
    --color-light-green: rgb(52, 199, 89);
    --color-light-indigo: rgb(88, 86, 214);
    --color-light-orange: rgb(255, 149, 0);
    --color-light-pink: rgb(255, 45, 85);
    --color-light-purple: rgb(175, 82, 222);
    --color-light-red: rgb(255, 59, 48);
    --color-light-teal: rgb(90, 200, 250);
    --color-light-yellow: rgb(255, 204, 0);

    /* Dark mode */
    --color-dark-gray-1: rgb(142, 142, 147);
    --color-dark-gray-2: rgb(99, 99, 102);
    --color-dark-gray-3: rgb(72, 72, 74);
    --color-dark-gray-4: rgb(58, 58, 60);
    --color-dark-gray-5: rgb(44, 44, 46);
    --color-dark-gray-6: rgb(28, 28, 30);
    --color-dark-blue: rgb(10, 132, 255);
    --color-dark-green: rgb(48, 209, 88);
    --color-dark-indigo: rgb(94, 92, 230);
    --color-dark-orange: rgb(255, 159, 10);
    --color-dark-pink: rgb(255, 55, 95);
    --color-dark-purple: rgb(191, 90, 242);
    --color-dark-red: rgb(255, 69, 58);
    --color-dark-teal: rgb(100, 210, 255);
    --color-dark-yellow: rgb(255, 214, 10);
}

/* @media (prefers-color-scheme: no-preference) {} */

@media (prefers-color-scheme: light) {
    :root {
        --color-gray-1: var(--color-light-gray-1);
        --color-gray-2: var(--color-light-gray-2);
        --color-gray-3: var(--color-light-gray-3);
        --color-gray-4: var(--color-light-gray-4);
        --color-gray-5: var(--color-light-gray-5);
        --color-gray-6: var(--color-light-gray-6);
        --color-blue: var(--color-light-blue);
        --color-green: var(--color-light-green);
        --color-indigo: var(--color-light-indigo);
        --color-orange: var(--color-light-orange);
        --color-pink: var(--color-light-pink);
        --color-purple: var(--color-light-purple);
        --color-red: var(--color-light-red);
        --color-teal: var(--color-light-teal);
        --color-yellow: var(--color-light-yellow);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-gray-1: var(--color-dark-gray-1);
        --color-gray-2: var(--color-dark-gray-2);
        --color-gray-3: var(--color-dark-gray-3);
        --color-gray-4: var(--color-dark-gray-4);
        --color-gray-5: var(--color-dark-gray-5);
        --color-gray-6: var(--color-dark-gray-6);
        --color-blue: var(--color-dark-blue);
        --color-green: var(--color-dark-green);
        --color-indigo: var(--color-dark-indigo);
        --color-orange: var(--color-dark-orange);
        --color-pink: var(--color-dark-pink);
        --color-purple: var(--color-dark-purple);
        --color-red: var(--color-dark-red);
        --color-teal: var(--color-dark-teal);
        --color-yellow: var(--color-dark-yellow);
    }
}

#main {
    position: absolute;
    padding-left: 4px; /* By default, Safari adds 8px of padding to the left of html content. I am adding 4px here to match the 12 I apply on the right so the scroll bar doesn't interfere. */
    padding-right: 12px; /* Just enough space to make the scroll bar not clash. */
    /*top: 44px;*/
    overflow-x: scroll;
}

/*https://webkit.org/blog/7929/designing-websites-for-iphone-x/*/
@media (hover: none) {
    #main {
        padding-left: max(4px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
    }
    #myUL {
        padding: 8px max(8px, env(safe-area-inset-right)) max(8px, env(safe-area-inset-bottom)) max(8px, env(safe-area-inset-left));
    }
    #sidebarIcon {
        padding-left: max(12px, env(safe-area-inset-left)); /* Consistency with github icon */
    }
    #github {
        padding-right: max(12px, env(safe-area-inset-right)); /* Just enough space to make the scroll bar not clash. */
    }
}

/* Don't show title or sections with normal link colors. */
.section a,
.title a,
.section a:visited,
.title a:visited {
    color: currentColor;
}

img {
    max-width: 100%;
}

blockquote {
    margin-left: 0;
    padding-left: 12px;
    border-left: 1px solid var(--blockquote-color);
    color: var(--blockquote-color);
    vertical-align: baseline;
}

.breadcrumb {
    padding-inline-start: 0;
}
.breadcrumb li {
    display: inline;
}

.breadcrumb li:before {
    padding-left: 3px;
    padding-right: 5px;
    color: currentColor;
    content: "/";
}

#parent:after {
    padding-left: 3px;
    padding-right: 5px;
    color: currentColor;
    content: "/";
}

#nav-list-children {
    list-style: none;
    padding-inline-start: 0;
}

#nav-list-children li {
    padding-bottom: 3px;
}

.folder, .doc {
    width: 19px;
    cursor: pointer;
    fill: currentColor;
}

.folder {
    padding-right: 3px;
}

.doc {
    padding-left: 2px; /* 2 + 15 (width of doc.fill icon) + 2 = 19; so, the doc.fill icon looks centered w.r.t. folder icon */
    padding-right: 1px; /* 3 (folder.padding-right) - 2 (doc.padding-left) = 1; so folder and doc text align */
}

.openbtn {
    cursor: pointer;
    fill: currentColor;
}

.openbtn:hover {
    fill: url(#header-shape-gradient);
}

.row {
    display: flex;
    align-items: center;
}

.directory-contents-list-item-div {
    display: flex;
}

.directory-contents-list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
}

.directory-contents-list-item-link {
    width: calc(100% - 22px); /* Enables the link to resize to dynamically fit the horizontal space (i.e. watch as you decrease the window width or if you are on a horizontally-constrained screen like a phone); 100% is the width of the parent element; (22 = 19 + 3)px is the static width of (the doc/folder icon+padding) */
}
